/* Dark mode colors. */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root {
	font-family: Outfit;
	--sl-color-accent-low: #002935;
	--sl-color-accent: #007592;
	--sl-color-accent-high: #91d4ed;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #d9f2ff;
	--sl-color-gray-2: #a5d2e8;
	--sl-color-gray-3: #4aafda;
	--sl-color-gray-4: #006181;
	--sl-color-gray-5: #003e54;
	--sl-color-gray-6: #002b3c;
	--sl-color-black: #001b27;
}
/* Light mode colors. */
:root[data-theme='light'] {
	font-family: Outfit;
	--sl-color-accent-low: #afe0f3;
	--sl-color-accent: #00566c;
	--sl-color-accent-high: #003848;
	--sl-color-white: #001b27;
	--sl-color-gray-1: #002b3c;
	--sl-color-gray-2: #003e54;
	--sl-color-gray-3: #005f7f;
	--sl-color-gray-4: #2d98c2;
	--sl-color-gray-5: #9dcadf;
	--sl-color-gray-6: #d9f2ff;
	--sl-color-gray-7: #ecf9ff;
	--sl-color-black: #ffffff;
}